.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-top-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings-panel-area {

}
.game-panel-area {

}
.status-panel-area {

}

.control-panel-area {

}

/*
GameScreen
*/
.game-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-status {
  padding: 10px;
}